/* Homepage layout (optional background if needed) */
.homepage-container {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center; /* centers vertically */
  height: 100vh;
}

/* Buttons */
.homepage-buttons button {
  margin-right: 1rem;
  padding: 0.6rem 1.2rem;
  border-radius: 50px;
  border: none;
  background-color: #0b3d91;
  color: white;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}

.homepage-buttons button:hover {
  background-color: #1464d2;
  transform: scale(1.05);
}

.poster {
  width: 100%;
  height: 300px;
  max-width: auto; /* or whatever works for your layout */
  object-fit: cover;
  border-radius: 8px;
}

@media (min-width: 768px) {
  .homepage-right {
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
  }
}
.footer {
  background-color: #373535;
  color: #ffffff;
  text-align: center;
  padding: 0.5rem 1rem;
  font-size: 0.75rem; /* smaller text */
  border-top: 2px solid #0b3d91;
  margin-top: auto;
  width: 100%;
}

.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.page-content {
  flex: 1; /* allows content to take up remaining space */
}

.homepage-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
}

.homepage-left {
  flex: 1;
  color: white;
  text-align: center;
  align-items: center;
}

.homepage-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.poster-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  justify-items: center;
}

.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
